@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

 
 
 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .table-container th h1 {
       font-weight: bold;
       font-size: 1em;
       text-align: left;
       color: #DDDDDD;
 }
 

 .btn-submit , #btn-delete, #comment_button{
      float: right;
      display: block;
      padding: 0 5px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 4px;
      background: -webkit-linear-gradient(top, rgb(0,37,103) 0%,rgb(0,87,166) 50%,rgb(0,74,152) 51%,rgb(75,135,182) 100%);
      border: 1px solid slategray;
      color: #EEEEEE;
      height: 37px;
      line-height: 37px;
      margin: 1%;
      margin-left: 2%;
      margin-right: 2%;
      font-size: 30px
    }

 .table-container td {
       font-weight: normal;
       font-size: 1em;
       -webkit-box-shadow: 0 2px 2px -2px #0E1119;
       -moz-box-shadow: 0 2px 2px -2px #0E1119;
       box-shadow: 0 2px 2px -2px #0E1119;
 }
 
 .table-container {
       border-radius: 20px;
       text-align: left;
       overflow: hidden;
       width: 100%;
       margin: 0 auto;
       display: table;
       padding: 0 0 1% 0;
       font-weight: bold;
       font-size: 24px;
 }
 
 .table-container td, .table-container th {
       padding-bottom: 2%;
       padding-top: 2%;
       padding-left:2%;  
 }
 
 /* Background-color of the odd rows */
 #title {
       background-color: #323C50;
 }
 
 /* Background-color of the even rows */
 #content {
       background-color: #2C3446;
 }
 
 .table-container th {
       background-color: #1F2739;
 }
 
 .table-container td:first-child { color: #FB667A; }
 
#title:hover {
      background-color: #323C50;
      color: #DDDDDD;
      font-weight: bold;
      
      box-shadow: #102027 -1px 1px, #102027 -2px 2px, #102027 -3px 3px, #102027 -4px 4px, #102027 -5px 5px, #102027 -6px 6px;
      transform: translate3d(6px, -6px, 0);
      
      transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
    }

#content:hover {
   background-color: #2C3446;
   color: #DDDDDD;
   font-weight: bold;
   
   box-shadow: #000a12 -1px 1px, #000a12 -2px 2px, #000a12 -3px 3px, #000a12 -4px 4px, #000a12 -5px 5px, #000a12 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
   transition-duration: 0.4s;
   transition-property: all;
   transition-timing-function: line;
 }

 #title:active {
      background-color: #1565c0;
      color: #DDDDDD;
      font-weight: bold;
      
      box-shadow: #003c8f -1px 1px, #003c8f -2px 2px, #003c8f -3px 3px, #003c8f -4px 4px, #003c8f -5px 5px, #003c8f -6px 6px;
      transform: translate3d(6px, -6px, 0);
      
      transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
    }

 #content:active {
   background-color: #0d47a1;
   color: #DDDDDD;
   font-weight: bold;
   
   box-shadow: #002171 -1px 1px, #002171 -2px 2px, #002171 -3px 3px, #002171 -4px 4px, #002171 -5px 5px, #002171 -6px 6px;
   transform: translate3d(6px, -6px, 0);
   
   transition-delay: 0s;
   transition-duration: 0.4s;
   transition-property: all;
   transition-timing-function: line;
 }
 
 @media (max-width: 800px) {
 .table-container td:nth-child(4),
 .table-container th:nth-child(4) { display: none; }
 }

 #Align_Right{
      text-align: right;
 }

 #qna_div{
      top: 20%;
      padding: 5%;
      border: 1px solid slategray;
      border-radius: 10px;
 }

 .selectedElement{
       background-color: #0d47a1;
 }

 #answerValue {
       resize: none;
       font-size: 30px;
       min-height: 100px;
 }
 
 #comment_p {
       display: inline;
 }

 .Align_Center {
      top: 20%;
      margin: auto;
      text-align: center;
 }